/*$yellow: #FFFF00;
*/
/*$blue: #0000FF;
*/
/*$violet: #7F00FF;
*/
/*$midblue: #5e768d*/
/*$alice-blue: #F0F8FF;
*/
/*$cyan: #00FFFF*/
/*$black: #000000;
*/
/*$white: #FFFFFF;
 */
/*$gray: #B2BEB5;
*/
/*$red: #FF0000;
 */
/*$default-text-color: $black;
 !default;
 */
/*$color-headline:$violet;
*/
/*$color-item-border:$cyan;
*/
 @import "compass";
 @import "partials/variables";
 @import "partials/normalize";
 body {
     background-image: url("img/pattern.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     margin:5px;
     padding-left: 2em;
     overflow: visible;
     text-align: left;
     font-family: 'Roboto', sans-serif;
     font-weight: 600;
     font-size: 32.5px;
     max-height: 100vh;
     max-width: 100vw;


     display: grid;
     grid-template-areas: "h" "m" "f";
}

header {
	grid-area: h;
	background-image: url(../img/pattern9_lightBG.jpg);
}
main {
	grid-area: m;
}

main .row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-items: center;
}

footer {
	grid-area: f;
	background-color: #159c0a;
	color: white;
	text-align: center;
}


 #Logo {
     padding-top:23px;
     padding-left:25px;
}
 h1, h2, h3 {
     /*color: $color-headlines;*/
     font-family: 'Roboto', sans-serif;
     letter-spacing: 5px;
}
 p {
     font-family: 'Roboto', sans-serif;
     font-size: 18px;
}
 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: lightblue;
}
 li {
     float: left;
}
 li a {
     display: block;
     font-size: 17px;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}
 li a:hover {
     background-color: #111;
}
 * {
     box-sizing: border-box;
}
 .column_photo {
     flex: 50%;
     padding: 5px;
}
 blockquote {
     font-style: italic;
     margin-left: 32px;
     font-family: Garamond, serif;
}
 .column_1 {
     float: left;
     padding: 10px;
     height: 300;
     width: 33.3%;
     background-color: #154d0a;
     color:white;
     margin-bottom: 40px;
     margin-top: 20px;
     height:100px;
}
 .column_2 {
     float: left;
     padding: 10px;
     height: 300;
     width: 33.3%;
     background-color: #5e768d;
     margin-bottom: 40px;
     margin-top: 20px;
     height:1000px;
}
 .column_3 {
     float: left;
     padding: 10px;
     width: 33.3%;
     background-color: darkblue;
     color:white;
     margin-bottom: 40px;
     margin-top: 20px dotted color-item-border;
     height:1000px;
}

 .row:after {
     content: "";
     display: table;
     clear: both;
}
.column {
     -webkit-column-count: 3;
     -moz-column-count: 3;
     column-count: 3;
     -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
     column-gap: 20px;
     -webkit-column-rule-style: solid;
     -moz-column-rule-style: solid;
     column-rule-style: solid;
     -webkit-column-width: 70px;
     -moz-column-width: 70px;
     column-width: 70px;
}

 #main {
     width: 25%;
     float: right;
}

 #content {
     background-color: lightgray;
     margin: 0 auto;
     height: 300;
}

     ul {
         list-style-type: none;
         display: flex;
         flex-direction: row;
         margin: auto;
         padding: 0 1em;
    }
     ul li {
         margin: auto;
         padding: 20px;
         text-align: center;
    }
     .prev:hover, .next:hover {
         background-color: rgba(0,0,0,8) 
    }
     .footer {
         position: fixed;
         bottom: 0;
         width: 100%;
         height: auto;
         background-color: #159c0a;
         color: white;
         text-align: center;
    }
    